@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.wrapper {
  @include flex-col;
  gap: $sp-4;
}

.content {
  font-size: $fs-base;
  color: $text;
  line-height: 1.6;
}

.input {
  @include input-base;
  max-width: 600px;
}
